@import "/css/navbar.css";
@import "/css/header.css";
@import "/css/footer.css";
@font-face {
  font-family: Andy;
  src: url(/assets/AlexBrush-Regular.ttf);
}

* {
  font-family: Andy;
  box-sizing: border-box;
  /* border: 1px solid red; */
  border-style: solid 1px black;
  color: whitesmoke;
}

body {
  margin: 0px auto;
}

.main--container {
  display: block;
  width: 100%;
  height: 200vh;
  margin: 0px auto 0px auto;
  padding-left: 5px auto;
  padding-right: 5px auto;
  background: #2e374f;
  background: -moz-linear-gradient(top, #2e374f 0%, #2e374f 19%, #ffffff 100%);
  background: -webkit-linear-gradient(
    top,
    #2e374f 0%,
    #2e374f 19%,
    #ffffff 100%
  );
  background: linear-gradient(to bottom, #2e374f 0%, #2e374f 19%, #ffffff 100%);
}

button {
  display: block;
  position: relative;

  color: black;
  -webkit-box-shadow: 5px 8px 25px 5px #000000;
  box-shadow: 5px 8px 25px 5px #000000;
  margin: 5% 41% 5% 41%;
}

p {
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
}

h3 {
  text-align: center;
}
