@import "/css/navbar.css";
@import "/css/header.css";
@font-face {
  font-family: AlexBrush-Regular;
  src: url(/assets/AlexBrush-Regular.ttf);
}

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
  border-style: solid 1px black;
  color: black;
}

main {
}
.portrait {
  width: 500px;
  height: auto;
}
