h1 {
  text-align: center;
  text-size-adjust: 50px;
  font-family: sans-serif;
}

.portrait--container {
  border: 1px solid;
  height: 50vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portrait--container__picture {
  width: 100vw;
  height: 50vh;
  border-radius: 40%;
}

/* .portrait--picture {
  width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

img {
  position: relative;
  margin: 10px auto 10px auto;
}
