h1 {
  margin-top: 0px;
  position: relative;
  text-align: center;
  text-size-adjust: 50px;
}

.portrait--container {
  border: 1px solid;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portrait--container__picture {
  width: 200px;
  height: auto;
  border-radius: 40%;
}

/* .portrait--picture {
  width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

img {
  position: relative;
  margin: 10px auto 10px auto;
}
