nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.nav--container {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  width: 100vw;
  margin-top: 0;
  background-color: white;
}

.nav--container__item {
  list-style-type: none;
  font-family: Andy;
}

.nav--container__item__button {
  text-decoration: none;
  font-size: 30px;
}
